@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-apearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-apearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 100px 0 0 5px;
  max-width: 1170px;
  margin: 0 auto;
}

.header__container {
  padding: 40px 0;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
}

.logo {
  flex-grow: 1;
  padding-left: 5px;
}

.nav {
  margin-right: 5%;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}
.menu__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.menu__item {
  display: block;
  position: relative;
}
.menu__item:hover::after {
  content: "";
  position: absolute;
  width: 65%;
  border: 1px solid #000000;
  left: 15%;
  top: 115%;
}

.first {
  height: 600px;
  margin: 0 auto;
  background: url(../assets/img/bg-image.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 90px;
  width: 100%;
  max-width: 1440px;
}

.title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.05em;
  margin: 0 0 50px 0;
  padding-left: 5px;
}

.article {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 30px;
}
.article__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 30px;
}
.article__title + h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.article__title-litl {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 15px;
}
.article__title-litl + p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.article__info {
  width: 570px;
  padding-left: 5px;
  height: 470px;
}

.content {
  max-width: 450px;
}

.article-size {
  margin-bottom: 50px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section {
  margin-bottom: 90px;
}

.flex-revers {
  flex-direction: row-reverse;
  padding-left: 1px;
}

.furfur {
  padding-right: 1px;
}

.arrow {
  padding-left: 1px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .arrow {
    width: 340px;
    height: 280px;
  }
  .content {
    width: 340px;
    height: 280px;
  }
  .article__info {
    width: 340px;
    padding-left: 1px;
    height: 280px;
  }
  .first__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.05em;
  }
}